<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" ng-app="myApp">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>David Manzer / Designer / Front End Developer</title>

<script src="bower_components/angular/angular.min.js"></script>
<script src="js/controller.js"></script>

<meta name="description" content="David Manzer - Front End Developer" />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Main Style -->
<link href="css/main.css" rel="stylesheet">
<!-- Supersized -->
<link href="css/supersized.css" rel="stylesheet">
<link href="css/supersized.shutter.css" rel="stylesheet">
<!-- FancyBox -->
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<!-- Font Icons -->
<link href="css/fonts.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<!-- Shortcodes -->
<link href="css/shortcodes.css" rel="stylesheet">
<!-- Responsive -->
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<!-- Supersized -->
<link href="css/supersized.css" rel="stylesheet">
<link href="css/supersized.shutter.css" rel="stylesheet">
<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-icon.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/android-icon-144x144.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/android-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/ms-icon-70x70.png">

<!-- Modernizr -->
<script src="js/modernizr.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>

<!-- Start Splash Screen -->
<div class="ole">
  <section id="jSplash">
  	<div id="circle"></div>
  </section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">
  <div class="overlay"></div>

  <div class="slider-text">
    <div id="slidecaption"></div>
  </div>

	<div class="control-nav">
    <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
    <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
    <ul id="slide-list"></ul>
    <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
  </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
  <div class="sticky-nav">
    <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

    <div id="logo">
      <a id="goUp" href="#home-slider" title="David Manzer | Designer Front End Developer" class="slider-name">David Manzer</a>
    </div>

    <nav id="menu">
      <ul id="menu-nav">
        <li class="current"><a href="#home-slider">Home</a></li>
        <li><a href="#work">Portfolio</a></li>
        <li><a href="#about">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

  </div>
</header>
<!-- End Header -->

<!-- Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">My Work</h2>
                    <h3 class="title-description">Check Out My Projects on <a href="https://www.behance.net/dmanzer2" target="_blank">behance</a>.</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
          	<!-- Filter -->
              <nav id="options" class="work-nav">
                <ul id="filters" class="option-set" data-option-key="filter">
                  <li class="type-work">Type of Work</li>
                  <li><a href="#filter" data-option-value=".layout" class="selected">Layout/Advertising</a></li>
                  <li><a href="#filter" data-option-value=".identity">Identity/Logos</a></li>
                  <li><a href="#filter" data-option-value=".illustration">Digital Illustration</a></li>
                  <li><a href="#filter" data-option-value=".package">Package Design</a></li>
                  <li><a href="#filter" data-option-value=".web">Web Development</a></li>
                  <li><a href="#filter" data-option-value=".email">email Marketing</a></li>
                  <li><a href="#filter" data-option-value=".photography">Creative Photography</a></li>
                  <li><a href="#filter" data-option-value=".fonts">Font Development</a></li>
                  <li><a href="#filter" data-option-value=".placeholder">&nbsp;</a></li>
                </ul>
              </nav>
            </div>

            <div class="span9">
              <div class="row">
                <section id="projects">
                  <ul id="thumbs" ng-controller="WorkController">

                    <!-- layout Items -->
                  	<li class="item-thumbs span3 clearfix layout" ng-repeat="item in layout">
                    	<!-- Full Image -->
                    	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{item.description}}" ng-href="img/work/layout-design/full/{{item.shortname}}-full.jpg">
                      	<span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="img/work/layout-design/thumbs/{{item.shortname}}.jpg" alt="Thumb of {{item.name}}">
                    </li>
                  	<!-- End layout Items -->

                    <!-- Identity Items -->
                    <li class="item-thumbs span3 clearfix identity" ng-repeat="item in logos">
                    <!-- Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{item.description}}" ng-href="img/work/logos-branding/full/{{item.shortname}}-full.jpg">
                        <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="img/work/logos-branding/thumbs/{{item.shortname}}.jpg" alt="Thumb of {{item.name}}">
                    </li>
                    <!-- End Item Project -->

                    <!--Illustrations Start-->
      							<!-- Item Project and Filter Name -->
                    <li class="item-thumbs span3 clearfix illustration" ng-repeat="item in illustrations">
                      <!-- Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{item.description}}" ng-href="img/work/illustrations/full/{{item.shortname}}-full.jpg">
                        <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="img/work/illustrations/thumbs/{{item.shortname}}.jpg" alt="Thumb of {{item.name}}">
                    </li>
                    <!-- End Item Project -->

                    <!--Package Design Start-->
                    <!-- Item Project and Filter Name -->
                    <li class="item-thumbs span3 clearfix package" ng-repeat="item in package">
                      <!-- Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{item.description}}" ng-href="img/work/package-design/full/{{item.shortname}}-full.jpg">
                        <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="img/work/package-design/thumbs/{{item.shortname}}.jpg" alt="Thumb of {{item.name}}">
                    </li>
                    <!-- End Item Project -->

                    <!--Web Start-->
                    <!-- Item Project and Filter Name -->
                    <li class="item-thumbs span3 clearfix web" ng-repeat="item in web">
                      <!-- Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{item.description}}" ng-href="img/work/web-development/full/{{item.shortname}}-full.jpg">
                        <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="img/work/web-development/thumbs/{{item.shortname}}.jpg" alt="Thumb of {{item.name}}">
                    </li>
                    <!-- End Item Project -->

                    <!-- Email Start -->
                    <li class="item-thumbs span3 clearfix email" ng-repeat="item in email">
                      <!-- Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{item.description}}" ng-href="img/work/email-development/full/{{item.shortname}}-full.jpg">
                        <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="img/work/email-development/thumbs/{{item.shortname}}.jpg" alt="Thumb of {{item.name}}">
                    </li>
                    <!-- End Item Project -->

                    <!-- Photography Start -->
                    <li class="item-thumbs span3 clearfix photography" ng-repeat="item in photo">
                      <!-- Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{item.description}}" ng-href="img/work/creative-photography/full/{{item.shortname}}-full.jpg">
                        <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="img/work/creative-photography/thumbs/{{item.shortname}}.jpg" alt="Thumb of {{item.name}}">
                    </li>
                    <!-- End Item Project -->

      							<!-- Fonts Start -->
                    <li class="item-thumbs span3 clearfix fonts" ng-repeat="item in fonts">
                      <!-- Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{item.description}}" ng-href="img/work/font-development/full/{{item.shortname}}-full.jpg">
                        <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="img/work/font-development/thumbs/{{item.shortname}}.jpg" alt="Thumb of {{item.name}}">
                    </li>
                    <!-- End Item Project -->

                    <!-- Portfolio placeholder -->
                    <li class="item-thumbs span9 clearfix placeholder">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="#">
                        <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                      </a>
                      <!-- Thumb Image and Description -->
                      <img ng-src="//placehold.it/1x1" alt="" style="height:0px !important;">
                    </li>

                  </ul>
                </section>

              </div>
            </div>
          </div>
          <!-- End Portfolio Projects -->
        </div>
      </div>
      <!-- End Work Section -->

      <!-- About Section -->
      <div id="about" class="page-alternate">
        <div class="container">

          <!-- Title Page -->
          <div class="row">
            <div class="span12">
              <div class="title-page">
                <h2 class="title">About Me</h2>
                <h3 class="title-description">Experience.</h3>
              </div>
            </div>
          </div>
          <!-- End Title Page -->

          <div class="row">
            <!-- Start Profile -->
          	<div class="span4 profile">
            	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Designer Developer</span>
                </div>
                <img src="img/profile/profile-01.jpg" alt="">
              </div>
              <h3 class="profile-name">David Manzer</h3>
              <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

              <div class="social">
              	<ul class="social-icons">
                  <li><a href="#"><i class="fa fa-github"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End Profile -->

            <!-- Start Profile -->
            <div class="span4 profile">
              <div class="image-wrap">
                <div class="hover-wrap">
                  <span class="overlay-img"></span>
                  <span class="overlay-text-thumb">Art Director</span>
                </div>
                <img src="img/profile/profile-02.jpg" alt="">
              </div>
              <h3 class="profile-name">David Manzer</h3>
              <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
                Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

              <div class="social">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-email"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End Profile -->

            <!-- Start Profile -->
            <div class="span4 profile">
              <div class="image-wrap">
                <div class="hover-wrap">
                  <span class="overlay-img"></span>
                  <span class="overlay-text-thumb">Graphic Designer</span>
                </div>
                <img src="img/profile/profile-03.jpg" alt="">
              </div>
              <h3 class="profile-name">David Manzer</h3>
              <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
                Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

              <div class="social">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End Profile -->
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <!-- Start Profile -->
            <div class="span4 profile">
              <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Designer Developer</span>
                </div>
                <img src="img/profile/profile-01.jpg" alt="">
              </div>
              <h3 class="profile-name">David Manzer</h3>
              <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

              <div class="social">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-github"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End Profile -->

            <!-- Start Profile -->
            <div class="span4 profile">
              <div class="image-wrap">
                <div class="hover-wrap">
                  <span class="overlay-img"></span>
                  <span class="overlay-text-thumb">Art Director</span>
                </div>
                <img src="img/profile/profile-02.jpg" alt="">
              </div>
              <h3 class="profile-name">David Manzer</h3>
              <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
                Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

              <div class="social">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-email"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End Profile -->

            <!-- Start Profile -->
            <div class="span4 profile">
              <div class="image-wrap">
                <div class="hover-wrap">
                  <span class="overlay-img"></span>
                  <span class="overlay-text-thumb">Graphic Designer</span>
                </div>
                <img src="img/profile/profile-03.jpg" alt="">
              </div>
              <h3 class="profile-name">David Manzer</h3>
              <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
                Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

              <div class="social">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End Profile -->
          </div>

      </div><!--.container-->
    </div><!--#about-->

  <!-- Contact Section -->
  <div id="contact" class="page">
    <div class="container">
      <!-- Title Page -->
      <div class="row">
        <div class="span12">
          <div class="title-page">
            <h2 class="title">Get in Touch</h2>
            <h3 class="title-description">I'm currently accepting new client projects. I look forward to serving you.</h3>
          </div>
        </div>
      </div>
      <!-- End Title Page -->

      <!-- Contact Form -->
      <div class="row">
        <div class="span9">

          <form id="contact-form" class="contact-form" action="//formspree.io/dmanzer2@gmail.com" method="POST">
            <p class="contact-name">
              <input id="contact_name" type="text" placeholder="Full Name" name="Name" required>
            </p>
            <p class="contact-email">
              <input id="contact_email" required pattern="^\S+@\S+\.\S+$" type="email" placeholder="Email Address" name="Email" required>
            </p>
            <p class="contact-message">
              <textarea id="contact_message" placeholder="Your Message" name="Message" rows="15" cols="40" required></textarea>
            </p>
            <input class="is-hidden" type="text" name="_gotcha">
            <input type="hidden" name="_subject" value="New submission!" />
            <input type="hidden" name="_next" value="//site.io/thanks.html" />
            <p class="contact-submit">
              <input class="submit" type="submit" value="Send your Message"></input>
            </p>
          </form>

        </div>

        <div class="span3">
          <div class="contact-details">
            <h3>Contact Details</h3>
            <ul>
              <li>480-570-6417</li>
              <li>
                David Manzer
                <br>
                Mesa, Arizona
                <br>
                United States
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Contact Form -->
    </div>
  </div>
  <!-- End Contact Section -->

  <!-- Socialize -->
  <div id="social-area" class="page">
  	<div class="container">
      <div class="row">
        <div class="span12">
          <nav id="social">
            <ul>
              <li><a href="https://www.behance.net/dmanzer2" title="Follow Me on Behance" target="_blank"><span class="fa fa-behance"></i></a></li>
              <li><a href="http://facebook.com/david.manzer" title="Follow Me on Facebook" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://plus.google.com/u/0/" title="Follow Me on Google Plus" target="_blank"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="https://www.linkedin.com/in/david-manzer-bb081855?trk=nav_responsive_tab_profile" title="Follow Me on LinkedIn" target="_blank"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="https://github.com/dmanzer2" title="github" target="_blank"><span class="fa fa-github"></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- End Socialize -->

  <!-- Footer -->
  <footer>
  	<p class="credits">&copy;2016 David Manzer<br>
      Designer / Front End Developer</p>
  </footer>
  <!-- End Footer -->

  <!-- Back To Top -->
  <a id="back-to-top" href="#">
  	<i class="font-icon-arrow-simple-up"></i>
  </a>
  <!-- End Back to Top -->

<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script><!-- Bootstrap -->
<script src="js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="js/waypoints.js"></script> <!-- WayPoints -->
<script src="js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="js/main.js"></script>
<!-- End Js -->

</body>
</html>
